<h1><%=@diver.name%> LOGBOOK:</h1>


<h3>Experience: <%=@diver.experience%> year(s)</h3> <a href="/experience/<%=@diver.id%>/edit">UPDATE EXPERIENCE</a>

<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<br><br><br>

<h2><u>Statics:</u></h2>
<%@diver.statics.each do |static|%>
  <b><u>Date: <%=static.created_at.strftime("%Y-%m-%d")%></u></b><br>
  Max Time: <%if static.max_time.is_a?(Float)||static.max_time.is_a?(Fixnum)%><%=static.max_time%><%else%><%=static.max_time.strftime("%l:%M")%><%end%><br>
  State: <%=static.overall_state%>
  <br><br>
<%end%>

<br><br>

<h2><u>Dynamics:</u></h2>
<%@diver.dynamics.each do |dynamic|%>
  <b>Date: <%=dynamic.created_at.strftime("%Y-%m-%d")%></b><br>
  Max Distance: <%=dynamic.max_distance%><br>
  State: <%=dynamic.overall_state%>
  <br><br>
<%end%>
<br><br>
<a href="/add_times">ADD TIMES</a><br><br>
<a href="/logout">LOGOUT</a>
